* {
  box-sizing: border-box;
}

body{
  background-color: #b3e0ff;
  padding: 15px;
  font-family: 'Lato', sans-serif;
}



.main-nav li{
  padding: 3px;
}
.main-nav a{
  display: block;
  padding: 10px 100px;
  text-align: center;
  background-color: #fff;
}

.main-nav a{
  text-decoration: none;
  font-weight: 700;
  color: #000;
  font-size: 0.875em;
}

.main-nav ul{
  list-style: none;
  padding: 0;
  margin-bottom: 40px;

}

.name{
  align-self: center;
}

.container,
.main-nav{
  display: flex;
  flex-direction: column;
}

.profile{
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
  padding-bottom: 10%;
}

.profile p{
  text-align: center;
}

.profile img{
  align-self: center;
  width: 85%;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: #fff;
}

#portfolio{
  text-align: center;
  background-color: #fff;
  flex-direction: row;
  padding: 25px 0px;
}
.portfolio-item{
  text-align: center;
  padding: 0.75em;
}

.portfolio-item img{
  width: 100%;
  align-self: center;
  margin-left: .2em;
}

.content{
  font-size: 0.875em;
  line-height: 1.5;
  font-weight: 300;
}

.main-footer{
  margin-top: 40px;
  border-top: 1px solid #000;
}

.desktop-nav{
  display: none;
}

.desktop-nav{
  border-top: 1px solid #ccc;
}


.desktop-nav a{
  text-decoration: none;
  font-weight: 700;
  color: #000;
  padding-left: 15px;
}

.mobile-nav{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 0.875em;
}

.mobile-nav li{
  list-style-type: none;
}

.contact-info{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 35px;
}


.statement{
  font-weight: 300;
  line-height: 1.5;
}

.mobile-nav{
  font-size: 0.875em;
  margin-top: 10px;
}

#email{
  margin-top: 0;
}

#phone_number,
#email_address{
  padding-left: 10px;
}


@media (min-width: 768px) {
  .main-nav ul{
    display: flex;
  }

  .main-nav a{
    display: block;
    padding: 10px 75px;
    text-align: center;
    background-color: #fafafa;
  }

  .profile{
    display: flex;
    flex-direction: row;
    padding: 0 3.5% 5%;
    font-size: 1.125em;
  }

  .profile img{
    width: 45%;
  }

  .profile p{
    padding: 0 5% 5% 0;
  }

  .portfolio-item,
  .wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

  }

  .portfolio-item{
    width: 50%;
    margin: 0;
  }

#portfolio{
  display: flex;
  width:51%;
  justify-content: center;
}

  .desktop-nav, .desktop-nav li{
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.875em;
  }

  .desktop-nav ul{
    display: flex;

  }

  .desktop-nav li{
    list-style: none;
    justify-content: space-between;
  }

  .mobile-nav{
    display: none;
  }

  .desktop_nav_title{
    align-self: center;
  }

  .footer-title{
    padding-top: 15px;
  }

.contact_container{
  max-width: 550px;
  margin-left: 98px;
}


}


@media (min-width:1024px) {

  body{
    background-color: #fafafa;
  }

  .container{
    max-width: 1200px;
    margin: 0 auto;
  }


  .main-nav{
    display: flex;
    flex-direction: row;
  }

  .name{
    align-self: center;
    padding-left: 84px;
  }

  .main-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav ul{
    display: flex;
    margin: 0 48px;
  }

  .main-nav li{
    list-style-type: none;
    align-self: center;
  }

  .main-nav a{
    text-decoration: none;
    padding: 20px;
  }

  .profile{
    display: flex;
    font-size: 1.5em;
    margin: 0 30px;
    padding-top: 30px;
  }

  .profile p{
    margin-right: 80px;
    font-size: 75%;
  }

  .wrapper{
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    padding-left: 25px;
    padding-bottom: 55px;
    margin-top: 3%;
  }


  #portfolio{
    width: 95%;
    text-align: center;
    padding: 25px 0;
    justify-content: center;
  }

  .portfolio-item{
    display: flex;
    flex-flow: column wrap;
    width: 31%;
    text-align: center;
  }

  .portfolio-item img{
    width: 100%;
  }

  .contact_container{
    margin-left: 31%;
  }

}
